* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Open Sans, sans-serif;
    background-color: #1f2937;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    gap: 8rem;
    padding: 10px;
}

.logo i {
    color: #0d9e6e;
    font-size: 1.2rem;
    align-items: center;
}

.container {
    display: flex;
    padding: 10px;
}

.user {
    display: flex;
    gap: 2rem;
    align-items: center;
}
i{
    cursor: pointer;
}
.user i {
    padding: 10px;
    margin-left: 10px;
    color: #0d9e6e;
    font-size: 20px;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
    width: 280px;

}

.anchor {
    padding: 20px;

}

.anchor li {
    list-style: none;
    margin-bottom: 2rem;
}

.anchor li a {
    text-decoration: none;
    color: #9ca3af;
    font-size: 1rem;
    text-transform: capitalize;
    transition: all ease 0.1s;

}

.anchor li i {
    margin-right: 10px;
    font-size: 1.2rem;
}

.anchor li .active {
    color: #0d9e6e;
}

.anchor li .active:hover {
    color: #0d9e6e;
}

.anchor li a:hover {
    color: white;
    cursor: pointer;
}

.ul-button button {
    margin-top: 35%;
    margin-left: 20px;
    border: none;
    border-radius: 10px;
    background-color: #0d9e6e;
    width: 80%;
    padding: 15px 12px;
    text-transform: capitalize;
    color: white;
    font-size: 1rem;
    transition: all ease 0.2s;
}

.ul-button i {
    margin-right: 10px;
}

.ul-button button:hover {
    background-color: #008055;
    cursor: pointer;
}

main {
    display: flex;
    width: 100%;
}

.main-container {
    background-color: #111827;
    width: 100%;
}

.heading {
    display: flex;
    flex-direction: column;
    margin: 20px 25px;
    text-transform: capitalize;
    color: #d1d5d1;
    font-size: 0.8rem;
}

.grid-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
}

.sub-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0d9488;
    padding: 24px;
    border-radius: 8px;
}

.grid-text {
    display: flex;
    justify-content: center;
    align-items: left;
    margin-top: 10px;
}

.grid-text p,
.sales p {
    font-size: 13px;
    align-items: left;
}

.grid-text p {
    margin-left: 20px;
}

.sales p {
    margin-left: 20px;
}

.sub-p {
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 1rem;
}

.sub-grid h2 {
    font-size: 24px;
}

.sub-grid i {
    font-size: 22px;
    margin-bottom: 10px;
}

.sales {
    display: flex;
    align-items: center;
}

.yesterday {
    background-color: #fb923c;
}

.month {
    background-color: #3b82f6;
    align-items: center;
}

.sub-month {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -37px;
}

.last-month {
    background-color: #0891b2;
}

.all-sales {
    background-color: #059669;
}

/* Orders Grid CSS */
.orders-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.sub-order {
    padding: 20px;
    display: flex;
    gap: 10px;
    background-color: #1f2937;
    border-radius: 10px;
}

.sub-order i {
    padding: 15px;
    border-radius: 50px;
}
.sub-order .fa-cart-shopping{
    background-color: #fb923c;

}

.sub-order-text p {
    color: #9ca3af;
    font-size: 14px;
}

.sub-order-text span {
    color: #ef4444;
}

.fa-arrows-rotate{
    background-color: #3b82f6;
}
.fa-truck{
    background-color: #14b8a6;
}
.fa-check{
    background-color: #10b981;
}